:root {
  font-size: 16px;
  color-scheme: dark;
}

body {
  margin: 0;
  background: #000;
  color: #eee;
  cursor: default;
  font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-overflow-scrolling: auto;
}

:root, body, #app {
  width: 100%;
  height: 100%;
}

canvas {
  image-rendering: pixelated;
  vertical-align: middle;
}

#cursor, #error, #loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cursor {
  display: none;
  width: 0.5rem;
  height: 0.5rem;
  border: 0.25rem solid rgb(238, 238, 238, 0.3);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.3);
}

body.pointerlock #cursor {
  display: block;
}

#error {
  display: none;
  color: #e99;
}

#fps {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  font-size: 3rem;
  line-height: 4.5rem;
  font-weight: 700;
}
